.ugr-wrapper {
  padding: 30px 60px;
  width: 300px;
  background-color: #f1f3f4;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.info {
  font-size: 12px;
  font-weight: lighter;
  padding: 10px 0;
}

.photoNumber {
  padding: 10px;
}
